img {
    max-width: 100%;
    height: auto;
}

.card{
    width: 550px;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.cards{
    padding: 20px 0;
    max-width: 1200px;
    justify-content: space-around;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
}

.card img {
    width: 100%;
}

.banner {
    position: relative;
    text-align: center;
    color: aliceblue;
    font-size: 3vh;
}

.banner h2 {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: grey;
}

.content{
    background-color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

input{
    margin: 20px 0;
    width: 40%;
}


@media (min-width: 760px) {

    .banner h2{
        top: 7%;
    }
}