.row {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

 h2, h3 {
    font-family: 'Oswald', sans-serif;
}
p {
 font-family: 'Lato', sans-serif;
}

@media (min-width: 430px){
  .col-span-2 {
    width: 49%;
    text-align: center;
}  
}

main {
    margin: 0 20px;
}